.container {
  @include width(4);
  margin: 0 auto;
}

.full-page {
  height: 100%;
  width: 100%;
  position: relative;
}

.section-title {
  @extend .container;

  color: $white;

  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
}

section {
  position: relative;
}

section.intro {
  h1 {
    @extend .container;
    @extend .vertical-center;

    text-align: center;
    color: $grey;
  }
}

section.what-we-do {
  background-color: $red;

  h1 {
    @extend .container;
    @extend .vertical-center;

    color: $white;
  }
}

section.what-we-do:after {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  background-color: $red;
  -webkit-transform:skewY(-4deg);

  position: absolute;
  bottom: -50px;
  z-index: 10;
}

section.our-approach {
  background-image: url("/coffee-area.jpeg");
  background-size: cover;

  .title {
    color: $black;

    top: 6rem;
  }
}

section.quote {
  blockquote {
    @extend .container;
    @extend .vertical-center;

    font-size: 2rem;
  }

  .author {
    margin-top: 1rem;
    display: block;
    font-weight: bold;
  }
}

section.made-earlier:before {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  background-color: $light-grey;
  -webkit-transform:skewY(-4deg);

  position: absolute;
  top: -50px;
  z-index: 10;
}

section.made-earlier {
  background-color: $light-grey;

  .title {
    color: $grey;
  }
}
