.container {
  @include width(4);
  margin: 0 auto;
}

.text-container {
  @include width(4);
}

.full-page {
  height: 90%;
  width: 100%;
  position: relative;
}

.section-title {
  margin: 0 auto;
  z-index: 20;
}

section.hero {
  h1 {
    font-size: 2rem;
  }
}

section.intro {
  background-color: $lighter-grey;
  position: relative;

  h1 {
    @extend .container;
    @extend .vertical-center;

    text-align: center;
    color: $grey;
    font-size: 2rem;
  }
}

section.what-we-do {
  background-color: $red;
  position: relative;

  h1 {
    @extend .container;
    @extend .vertical-center;

    color: $white;
  }

  .title {
    @extend .container;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    color: $white;
    text-transform: uppercase;
  }
}

section.what-we-do:after {
  content: '';
  display: block;
  width: 100%;
  height: 20%;
  background-color: $red;
  -webkit-transform:skewY(-4deg);

  position: absolute;
  bottom: -10%;
  z-index: 10;
}

section.our-approach {
  background: url("/coffee-area.jpeg") no-repeat top right;
  background-size: cover;

  .title {
    color: $black;

    top: 7rem;
  }
}


section.our-approach-description {
  @extend .container;

  padding-top: 4rem;
  padding-bottom: 8rem;

  p {
    @extend .text-container;

    color: $grey;
  }
}

section.made-earlier:before {
  content: '';
  display: block;
  width: 100%;
  height: 20%;
  background-color: $light-grey;
  -webkit-transform:skewY(-4deg);

  position: absolute;
  top: -10%;
  z-index: 10;
}

section.made-earlier {
  background-color: $light-grey;

  .title {
    color: $black;
  }

  .products {
    @extend .container;
    @extend .vertical-center;

    text-align: center;

    .product {
      img {
        height: 100px;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.6rem;
        font-weight: bold;
      }

      p {
        color: $grey;
      }
    }

  }
}

section.made-earlier:after {
  content: '';
  display: block;
  width: 100%;
  height: 20%;
  background-color: $light-grey;
  -webkit-transform:skewY(4deg);

  position: absolute;
  bottom: -10%;
  z-index: 10;
}

section.contact-us {
  @extend .container;

  padding-top: 8rem;
  padding-bottom: 4rem;

  .title {
    color: $black;
  }
}
