extend /layouts/layout
block content
  section.full-page.intro
    h1
      .logo.center
      | We build software businesses
  section.full-page.what-we-do
    h3.section-title What we do
    h1
      strong We help build businesses that
      |  find, organize, analyze, visualise, share, protect, and
      strong  breathe data
  section.full-page.our-approach
  section.our-approach-description
    h3.section-title Our approach
    p We aim to build and grow sustainable software businesses. We do this by offering seed investments to early stage software startups and providing them unique access to Red Gate’s domain experts and resources.
    p We typically invest between $50k and $300k in products related to Internet of Things, Big Data, and data privacy.
    p Although we provide investment, we’re not your typical venture capital fund. At our core we’re a software company, located in Cambridge, UK. We hope to share the wealth of experience we’ve gained building software businesses over the past 14 years. We are also in a unique position to also provide you with a great environment to work, access to specialists, and tasty lunches in our canteen.
  section.made-earlier
    h3.section-title Businesses we've invested in
    .products
      .product
        img(src='/images/mixture-logo.svg', alt='mixture logo')
        h3 Mixture
        p A rapid front-end web development toolset for Mac & Windows.
        a(href='http://mixture.io/', target='_blank') mixture.io
      .product
        img(src='/images/glimpse-logo.png', alt='glimpse logo')
        h3 Glimpse
        p The open source diagnostics platform of the web.
        a(href='http://getglimpse.com/', target='_blank') getglimpse.com
  section.contact-us
    h3.section-title Contact us
    p We’d love to see what you’re working on. Send us a line at
      a(href='mailto:james.moore@red-gate.com')  james.moore@red-gate.com
    | .
