<section class="full-page intro">
  <h1>
    <div class="logo center"></div>
      Helping data technologies fly
  </h1>
</section>

<section class="full-page what-we-do">
  <p class="title section-title">What we do</p>
  <h1>
    <strong>We help build businesses that</strong> find, move, organize, protect, visualize, analyze, play with, share, <strong>breathe data</strong>
  </h1>
</section>

<section class="full-page our-approach">
  <p class="title section-title">Our approach</p>
</section>

<section class="full-page quote">
  <blockquote>
    <span class="quote">
      It’s about relationships. It’s about helping and supporting entrepreneurs. Giving the tools, and resources to help them fly.
    </span>
    <span class="author">James Moore, Red Gate Ventures</span>
  </blockquote>
</section>

<section class="made-earlier full-page">
  <span class="title section-title">Here's some we made earlier</span>
</section>

{{outlet}}
