<section class="full-page intro">
  <h1>
    <div class="logo center"></div>
      We build software businesses
  </h1>
  <div class="arrow-down"></div>
</section>

<section class="full-page what-we-do">
  <p class="title section-title">What we do</p>
  <h1>
    <strong>We help build businesses that</strong> find, move, organize, protect, visualize, analyze, play with, share, <strong>breathe data</strong>
  </h1>
</section>

<section class="full-page our-approach">
  <p class="title section-title">Our approach</p>
</section>

<section class="our-approach-description">
  <p>We aim to build and grow sustainable software businesses. We do this by offering seed investments to early stage software startups and providing them unique access to Red Gate’s domain experts and resources.</p>
  <p>We typically invest between $50 and $300k and the following areas invest in the following areas - data, software delivery and IoT.</p>
  <p>Although we provide investment, we’re not your typical venture capital fund. At our core we’re a software company. We hope to share the wealth of experience we’ve gained building software businesses over the past 14 years. We are also in a unique position to also provide you with a great environment to work, access to specialists, and tasty lunches in our canteen.</p>
</section>

<section class="made-earlier full-page">
  <span class="title section-title">Here's a few we made earlier</span>
  <div class="products">
    <div class="product">
      <img src="/awedience-logo.png" alt="awedience logo" />
      <h3>Awedience</h3>
      <p>A strategic planning and execution platform for social media.</p>
    </div>
    <div class="product">
      <img src="/mixture-logo.svg" alt="mixture logo" />
      <h3>Mixture</h3>
      <p>A rapid front-end web development toolset for Mac &amp; Windows.</p>
    </div>
    <div class="product">
      <img src="/glimpse-logo.png" alt="glimpse logo" />
      <h3>Glimpse</h3>
      <p>An open source diagnostics platform of the web.</p>
    </div>
  </div>
</section>

<section class="contact-us">
  <span class="title section-title">Contact us</span>
  <p>We’d love to see what you’re working on. Send us a line at <a href="mailto:james.moore@red-gate.com">james.moore@red-gate.com</a>.</p>
</section>
