<section class="full-page intro">

  <h1>
    <div class="logo center"></div>
    We build software businesses</h1>
</section>

<section class="full-page what-we-do">
  <p class="title section-title">What we do</p>
  <h1>
    <strong>We help build businesses that</strong> find, move, organize, protect, visualize, analyze, play with, share, <strong>breathe data</strong>
  </h1>
</section>

<section class="approach">

</section>

<section class="full-page quote">
  <blockquote>
    <span class="quote">
      It’s about relationships. It’s about helping and supporting entrepreneurs. Giving the tools, and resources to help them fly.
    </span>
    <span class="author">James Moore, Red Gate Ventures</span>
  </blockquote>
</section>

{{outlet}}
