<section class="full-page intro">
  <h1>
    <div class="logo center"></div>
      Helping data technologies fly
  </h1>
</section>

<section class="full-page what-we-do">
  <p class="title section-title">What we do</p>
  <h1>
    <strong>We help build businesses that</strong> find, move, organize, protect, visualize, analyze, play with, share, <strong>breathe data</strong>
  </h1>
</section>

<section class="full-page our-approach">
  <p class="title section-title">Our approach</p>
</section>

<section class="our-approach-description">
  <p>Although we are not a fund, we make small seed investments in companies that will make our network stronger.</p>
  <p>Seed investing to us typically means the $100k – $200k size and to be among the first people to invest. For example, we were one of the first investors in Tumblr.</p>
  <p>We love betas / prototypes, not so much decks or business plans. If you want to talk investments, talk to Matt.</p>
</section>

<section class="made-earlier full-page">
  <span class="title section-title">Here's some we made earlier</span>
</section>

<section class="full-page how-we-invest">
  <span class="title section-title">How we invest</span>
</section>

<section class="contact-us full-page">
  <span class="title section-title">Contact us</span>
</section>
